/*base css for mobile screens*/
html{
    font-size: 14px;
    font-family: "Inter",sans-serif;
    font-weight: 500;
}

header{
    background-image: url("headbackground.png");
    background-size: cover;
    padding: 32px;
    color: white;
    height: 1024px;
}

#logo{
    float: left;
}
.navbar{
    float: right;
    width: 60%;
}

button.toggle-collapse{
    margin-right: 32px;
    margin-top: -10px;
}

.navbar .navbar-nav .nav-item{
    display: block;
    list-style: none;
}
.navbar-collapse{
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 0vh;
}

.navbar .navbar-nav .nav-item a{
    text-decoration: none;
    display: inline-block;
    padding: 0.9em;
    color: white;
}

.toggle-collapse{
    float: right;
    width:40px;
    height: 40px;
    margin: 16px;
}

.textbox{
    margin-top: 196px;
    max-width: 375px;
    padding: 16px;
}

 h1{
  font-family: Libre Caslon Display;
  font-size: 3rem;
  font-weight: 400;
  text-align: left;

}

#box{
    width: 90px;
    height: 15px;
    background-color: aliceblue;

}

button.textbtn{
    background-color: transparent;
    color: #ffffff;
    width: 153px;
    height: 42px;
    border: 2px solid #ffffff;
    border-radius: 10px;

}

.news-cards{
    display: flex;
    flex-direction: column;
}

#card{
    width: 311px;
    height: 619px;
    margin: 16px;
}


/*tablet screens*/
@media screen and (min-width:576px) {
    html{
        font-size: 14px;
    }

    .news-cards{
        display: flex;
    }
    
    #card{
      width: 187px;
      height: 635px;
      margin: 16px;
    }
    
}


/*laptop screens*/
@media screen and (min-width:768px) {
    html{
        font-size: 16px;
    }

    .navbar{
        width: 80%;
    }

    .navbar-collapse{
        width: 100%;
        height: auto;
    }

    button.toggle-collapse{
        display: none;
    }

    
    .navbtn{
    }
    .navbar-nav{
        display: flex;
    }
    .navbtn{
        margin-top: 10px;
    }

    .navbar .nav-item{
        display: inline;
        list-style: none;
    }
    
    .navbar .nav-item a{
        text-decoration: none;
        display: inline;
        padding: 0.9em;
        color: white;
    }
    
    .toggle-collapse{
        float: right;
        width:40px;
        height: 40px;
        margin: 16px;
    }

    .textbox{
        margin-top: 196px;
        max-width: 450px;
        padding: 16px;
    }

    #card{
        width: 419px;
        height: 635px;
        margin: 16px;
      }
      

    
}

